@font-face {
    font-family: 'Major Mono Display';
    src: url('/public/fonts/Major_Mono_Display/MajorMonoDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }