.App {
  text-align: center;
}

.linkColor:hover {
  color: #1df1b9;
}
a.resume:hover {
  color: #1df1b9;
}
.containerAuth {
  display: inline-grid;
  padding: 30px;
  margin-left: 25vw;
  margin-right: 25vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  border: #9a9696;
  border-width: 1px;
  border-style: solid;
  box-shadow: -1px 7px 13px 0px #00000096;
}

.containerAuth2{
  padding: 30px;
  margin-left: 25vw;
  margin-right: 25vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  border: #9a9696;
  border-width: 1px;
  border-style: solid;
  box-shadow: -1px 7px 13px 0px #00000096;
}

ul.sideItems {
  margin-left: 30px;
  display: flex;
}

a.linkColor {
  color: black;
  margin: 5px;
  text-decoration: none;
}

li.sideItem {
  padding: 8px;
}

li {
  list-style: none;
}

form {
  padding: 30px;
  margin: 10px;
  display: inline-grid;
}

input[type="email"] {
  padding: 9px;
  margin: 10px;
}

input[type="password"] {
  padding: 9px;
  margin: 10px;
}
input[type="text"] {
  padding: 9px;
  margin: 10px;
}

button.btnAuth {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-top: 3vh;
  background-color: #000000d9;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  color: #fffcfc;
}

a.link {
  color: grey;
  padding: 12px;
  text-decoration: none;
}

strong:hover {
  color: #7cfddb;
}

.searchD1:hover {
  color: #7cfddb;
}

h3.im {
  padding: 30px;
  font-size: 30px;
}

.logout {
  float: right;
  margin-right: 10vw;
}

.auth {
  margin-left: 25vw;
  margin-right: 25vw;
}

li.sideItem2 {
  padding: 10px;
  display: initial;
  text-decoration: underline;
  margin: 15px;
  font-size: 20px;
}

ul.ulAbout {
  text-align: center;
  padding: 0;
}

a.resume {
  color: #444343;
  text-align: center;
  padding: 20px;
  margin: 0;
}

video {
  height: 300px;
  width: 300px;
  padding: 0;
  margin: 0;
}

li.mob {
  padding: 30px;
  margin-left: 3vw;
  margin-right: 5vw;
}

li.wb {
  padding: 30px;
  margin-left: 3vw;
  margin-right: 5vw;
}

li.ot {
  padding: 30px;
  margin-left: 3vw;
  margin-right: 5vw;
}

ul.pro {
  display: inline-flex;
  padding: 0px;
}


form.blog {
  width: 30vw;
  height: 23vh;
}

p.blogBody {
  padding-left: 15vw;
  padding-right: 15vw;
  line-height: 30px;
  text-align: left;
}

ol {
  display: inline-flex;
}

.searchD {
  padding: 10px;
  font-size: 15px;
}
.searchD:hover {
  color: #1df1b9;
}

ol.dProjects {
  display: inline-flex;
  padding: 30px;
}

h2.blog {
  float: left;
  margin-left: 10vw;
}

.searchD1 {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 25px;
}
ol.olAbout {
  padding: 0;
}
ol.porjectAbout {
  padding: 0;
  font-weight: bold;
  color: #353333;
}
li.projectLi {
  padding: 6px;
  font-size: 12px;
}

p.pAbout {
  line-height: 20px;
  padding: 20px;
  text-align: initial;
}

@media (min-width: 320px) and (max-width: 480px) {
  ul.pro {
    display: block;
    padding: 0;
  }
  ol.olAbout {
    display: inherit;
    padding: 0;
  }
}
