.App {
  text-align: center;
}

.sideItem:hover {
   background-color: rgba(143, 229, 249, 0.5);
}


ul.sideItems {
    margin-left: 30px;
    display: flex;
}

a.linkColor {
    color: black;
    margin: 5px;
    text-decoration: none;
}

li.sideItem {
    padding: 8px;
}

li {
    list-style: none;
}

form {
    padding: 30px;
    margin: 10px;
    display: inline-grid;
}

input[type="email"] {
    padding: 9px;
    margin: 10px;
}

input[type="password"] {
    padding: 9px;
    margin: 10px;
}
input[type="text"] {
    padding: 9px;
    margin: 10px;
}

a.link {
    color: grey;
    padding: 12px;
    margin: 30px;
    text-decoration: none;
}

a.link:hover {
    background-color: #7cfddb;
}

h3.im {
    padding: 30px;
    font-size: 30px;
}

button {
    float: right;

}


.auth {
    margin-left: 25vw;
    margin-right: 25vw;
}

li.sideItem2 {
    padding: 10px;
}

ul.ulAbout {
    text-align: center;
    padding: 0;
}

a.resume {
    color: #444343;
    text-align: center;
    padding: 0;
    margin: 0;
}

video {
    height: 300px;
    width: 300px;
    padding: 0;
    margin: 0;
}




